{%extends 'base.html'%}
{% block content %}

<div class="container-xxl ">
    <div class="main-head text-center  ">

        <h1 class="sub-head pt-4 fw-bold ">Explore Our <span class="span-head text-warning text-uppercase fw-bold">Services</span>
        </h1>
    </div>
    <div class="about-details row  align-items-center">
        <div class="about-left col-lg-6">
            <h5 class="section-title text-start text-warning text-uppercase">About Us</h6>
            <h1 class="mb-4">Welcome to <span class="text-warning text-uppercase">CITY HOTEL</span></h1>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem perferendis cupiditate exercitationem quas minus ipsam reprehenderit deserunt tempora itaque quasi facere sunt et, animi dicta modi a, doloribus incidunt velit.
            </p>
            <div class="row g-3 pb-4">
                <div class="col-sm-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="border rounded p-1">
                        <div class="border rounded text-center p-4">
                            <i class="fa fa-hotel fa-2x text-warning mb-2"></i>
 
                            <h2 class="mb-1">1000</h2>
                            <p class="mb-0">Rooms</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="border rounded p-1">
                        <div class="border rounded text-center p-4">
                            <i class="fa fa-users-cog fa-2x text-warning mb-2"></i>
                            <h2 class="mb-1">2000</h2>
                            <p class="mb-0">Staffs</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="border rounded p-1">
                        <div class="border rounded text-center p-4">
                            <i class="fa fa-users fa-2x text-warning mb-2"></i>
                            <h2 class="mb-1">1000</h2>
                            <p class="mb-0">Clients</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-warning py-3 px-5 mt-2" href=""> More Details</a>
        </div>
        <div class="about-right col-lg-6">
            <div class="row g-3">
                <div class="col-6 text-end">
                    <img class="img-fluid rounded w-75 " src="../static/images/about-1.jpg" style="margin-top: 25%;">
                </div>
                <div class="col-6 text-start">
                    <img class="img-fluid rounded w-100 " src="../static/images/about-2.jpg">
                </div>
                <div class="col-6 text-end">
                    <img class="img-fluid rounded w-50 " src="../static/images/about-3.jpg">
                </div>
                <div class="col-6 text-start">
                    <img class="img-fluid rounded w-75" src="../static/images/about-4.jpg">
                </div>
            </div>
        </div>
    </div>

</div>
<br><br>
{% endblock%}