<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- csss link -->
    <link rel="stylesheet" href="static\css\style.css">


    <link rel="stylesheet" href="/static/assets/css/flaticon.css">
    <link rel="stylesheet" href="/static/assets/css/themify-icons.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="img/favicon.ico" rel="icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">



    <title>Home</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
        <div class=" container-fluid ">
            <div class="navbar-brand">

                <a class="text-uppercase text-warning fw-bold  " style="text-decoration: none;" href="home">City Hotel</a>
            </div>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link  text-white   " aria-current="page" href="{% url 'home'%}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white ms-3" aria-current="page" href="{% url 'about'%}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white ms-3" aria-current="page"
                            href="{% url 'service'%}">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white ms-3" aria-current="page" href="{% url 'rooms'%}">Rooms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white ms-3" aria-current="page"
                            href="{% url 'contact'%}">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active text-white ms-3" href="#" id="navbarDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu active bg-dark" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item text-white " href="{% url 'booking'%}">Booking rooms</a></li>


                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <a href="{%url 'logout' %}" class=" login btn btn-warning" type="">Logout</a>
                </form>
            </div>
        </div>
    </nav>

    <!-- footer -->


    <footer>
        <div class="footer-area fixed-bottom ">
            <div class="footer-copy-right">
                <p>Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> by Hacker | All Rights Reserved.
                </p>
            </div>


        </div>


    </footer>





    {% block content %}{% endblock %}


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


    <script src="../static/javascript/script.js"></script>
</body>

</html>