{%extends 'base.html'%}
{% block content %}

<div class="container">

    <div class="main-head text-center  ">

        <h1 class="sub-head pt-4 fw-bold text-warning ">Booking <span class="span-head text-success  fw-bold"> Confirmation</span>
        </h1>
    </div>

    <div class="alert alert-success mx-3 my-5" role="alert">
        <h3 class="alert-heading fw-bold">Thank You!</h3>
        <p class="">Aww yeah, you successfully booked the room. Our representatives will contact you.</p>
        <hr>
        <p class="mb-0 fw-bold">Have a Nice Day</p>
      </div>
</div>

{% endblock%}